<li id="post-<%=post._id%>">
  <p>
    <%= post.content %>
    <br />
    <small> <%= post.user.name %> </small>
  </p>
  <% if(locals.user && post.user.id == locals.user.id) { %>
  <a id="delete-post-button" href="/posts/delete/<%= post.id %>">Delete</a>
  <% } %>
</li>
<div class="post-comments">
  <% if(locals.user){ %>
  <form action="/comments/create" method="POST">
    <input
      type="text"
      name="content"
      placeholder="Type your comment here..."
      required
    />
    <input type="hidden" name="post" value="<%= post._id %>" />
    <input type="submit" value="Add Comment" />
  </form>
  <% } %>
  <div class="post-comments-list">
    <div id="post-comments-<%=post._id%>">
      <% for(comment of post.comments) { %> <%- include('_comment'); %> <% } %>
    </div>
  </div>
</div>
<hr />
